[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=16
subdivisions=1
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

# Downsample 1

[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

# 1x        3
[rsyblock]
filters=256

[rsyblock]
filters=256


[rsyblock]
filters=256

# Downsample2     5

[convolutional]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=leaky

# 2x 1
[rsyblock]
filters=512


[rsyblock]
filters=512

[rsyblock]
filters=512


# Downsample3    10
[convolutional]
batch_normalize=1
filters=256
size=3
stride=2
pad=1
activation=leaky

# 1 8x1
[rsyblock]
filters=1024

[rsyblock]
filters=1024

[rsyblock]
filters=1024

[rsyblock]
filters=1024


# Downsample4
[convolutional]
batch_normalize=1
filters=512
size=3
stride=2
pad=1
activation=leaky

# 2 8x 2     19
[rsyblock]
filters=2048

[rsyblock]
filters=2048

[rsyblock]
filters=1024

[convolutional]
batch_normalize=1
filters=2048
size=1
stride=1
pad=1
activation=leaky








