[net]
# Testing
batch=1
subdivisions=1
# Training
# batch=64
# subdivisions=2
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

# 0 224
[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

# 1 maxpool 112
[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

# 2 112
[InvertedResidual]
channels=32
stride=1
expand_ratio=2

# 3 56
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

# 4 56
[InvertedResidual]
channels=64
stride=1
expand_ratio=2

# 5 28
[convolutional]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=leaky

# 6 
[InvertedResidual]
channels=128
stride=1
expand_ratio=2

# 7 14
[convolutional]
batch_normalize=1
filters=256
size=3
stride=2
pad=1
activation=leaky

# 8
[InvertedResidual]
channels=256
stride=1
expand_ratio=2

# 9 7x7
[convolutional]
batch_normalize=1
filters=512
size=3
stride=2
pad=1
activation=leaky


###########


# 10
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

# 11
[convolutional]
size=1
stride=1
pad=1
filters=28
activation=linear



# 12
[yolo]
mask = 4,5,6,7
anchors = 2,4, 7,15, 13,33, 20,93, 26,49, 42,126, 58,232, 122,292
classes=2
num=8
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

# 13
[route]
layers = -3

# 14
[upsample]
stride=2

# 15
[route]
layers = -1, 8

# 16
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

# 17
[convolutional]
size=1
stride=1
pad=1
filters=28
activation=linear

# 18
[yolo]
mask = 0,1,2,3
anchors = 2,4, 7,15, 13,33, 20,93, 26,49, 42,126, 58,232, 122,292
classes=2
num=8
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1
